<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6t1CVDd2-Ac4j03sbhjCsdqZuXoGPOds</string>
	<key>GCM_SENDER_ID</key>
	<string>301194915521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UV8K8Q8FV5.HungTranMinh</string>
	<key>PROJECT_ID</key>
	<string>ios-push1-60e6e</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-push1-60e6e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301194915521:ios:cd56c1239d6add6020ae40</string>
</dict>
</plist>